.card {
  position: relative;

  flex: 1;

  display: flex;
  flex-direction: column;

  align-items: center;

  min-width: 5.5cm;
  min-height: 9cm;

  max-width: 5.5cm;
  max-height: 9cm;

  border: 4px solid #294e1c;

  padding: 5px 0;

  margin: 10px 30px;
}

.label {
  text-transform: uppercase;
  background-color: #294e1c;
  color: white;
  text-align: center;
  font-weight: bold;

  margin: 6px 0;

  width: 90%;
}

.foto {
  border: 2px solid #294e1c;

  min-width: 3cm;
  min-height: 4cm;

  max-width: 3cm;
  max-height: 4cm;

  margin-bottom: 5px;

  object-fit: cover;
}

.remove {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 0;
}

.remove:hover {
  background-color: white;
  color: #294e1c;
}
